<div class="bg-light-bg dark:bg-dark-bg min-h-screen text-light-paragraph dark:text-dark-paragraph p-8">
  <div role="tablist" class="tabs tabs-boxed tabs-lg m-8 bg-light-bg dark:bg-dark-bg">
    <input
      type="radio"
      name="my_tabs"
      role="tab"
      class="tab bg-light-button dark:bg-dark-button text-light-button-text dark:text-dark-button-text"
      aria-label="Recherche des activités à proximité"
      checked
    />
    <div role="tabpanel" class="tab-content border-base-300 rounded-box p-6 bg-light-bg dark:bg-dark-bg">
      <app-search-places-of-interest
        (sendLocation)="onSendLocation($event)"
        (sendMapCenter)="onSendMapCenter($event)"
      ></app-search-places-of-interest>
    </div>

    <input
      type="radio"
      name="my_tabs"
      role="tab"
      class="tab bg-light-button dark:bg-dark-button text-light-button-text dark:text-dark-button-text checked:bg-green-500 checked:text-white checked:border-green-500"
      aria-label="Recherche un itinéraire avec des points d'intérêt"
    />
    <div role="tabpanel" class="tab-content border-base-300 rounded-box p-6 bg-light-bg dark:bg-dark-bg">
      Rechercher un itinéraire
      <app-trip-with-interest-points-container></app-trip-with-interest-points-container>
    </div>
  </div>
</div>
