<div class="flex flex-col gap-4">
  <div class="dropdown">
    <input
      tabindex="0"
      type="text"
      id="searchInput"
      placeholder="Ville, adresse ou code postal"
      class="input input-bordered w-full"
      (input)="searchSuggestions(searchInputValue)"
      [(ngModel)]="searchInputValue"
    />
    <ul
      *ngIf="searchInputValue.length > 3"
      tabindex="0"
      class="dropdown-content z-[1] card menu p-2 shadow bg-base-100 rounded-box w-full"
    >
      <li
        *ngFor="let result of searchResults"
        class="shadow bg-base-100 w-full p-2 rounded-box"
      >
        <div
          class="flex flex-col gap-2 justify-left"
          (click)="selectSuggestions(result)"
        >
          <div class="text-xl font-medium">{{ result.name }}</div>
          <p>{{ result.place_formatted }}</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="flex flex-row gap-2">
    <div class="m-2" *ngFor="let point of pointofinterest">
      <input
        type="checkbox"
        [id]="point.name"
        class="peer hidden"
        [(ngModel)]="point.checked"
      />
      <label
        [for]="point.name"
        class="select-none cursor-pointer rounded-lg border-2 border-gray-200 py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200"
      >
        {{ point.name }}
      </label>
    </div>
  </div>
  <div class="flex">
    <button class="btn btn-primary" (click)="serachRetrieve()">
      Rechercher
    </button>
  </div>
</div>
