<div class="flex flex-col gap-4">
  <app-input-address-suggestion
    (sendAddress)="selectLocation($event)"
    (clearAddress)="clearSelectedLocation()"
  ></app-input-address-suggestion>

  <div class="flex flex-row gap-2 justify-between">
    <app-activity-checkbox-selector
      radioName="radio-places-of-interest"
      (sendType)="setType($event)"
    ></app-activity-checkbox-selector>
    <date-range-picker (dateRange)="dateRange($event)"> </date-range-picker>
  </div>

  <div class="flex">
    <app-search-activity-button
      [selectedType]="activityType"
      [selectedLocationLatLng]="selectedLocationLatLng"
      [selectedDateRange]="range"
      (sendLocation)="setPoints($event)"
    ></app-search-activity-button>
  </div>

  <app-points-of-interest-container
    [locations]="locations"
    [lat]="lat"
    [lng]="lng"
    *ngIf="lat && lng"
  ></app-points-of-interest-container>
</div>
