<div class="flex flex-row gap-2">
  <div *ngFor="let key of typePointOfInterest" class="m-2">
    <input
      type="radio"
      [name]="radioName"
      [value]="key.value"
      [(ngModel)]="selectedType"
      (ngModelChange)="selectType()"
      id="{{ radioName + '-' + key.id }}"
      class="hidden peer"
    />
    <label
      for="{{ radioName + '-' + key.id }}"
      class="select-none cursor-pointer rounded-lg border-2 border-light-stroke dark:border-dark-stroke py-3 px-6 font-bold text-light-button dark:text-dark-button transition-colors duration-200 ease-in-out peer-checked:bg-light-button dark:peer-checked:bg-dark-button peer-checked:text-light-button-text dark:peer-checked:text-dark-button-text peer-checked:border-light-stroke dark:peer-checked:border-dark-stroke"
    >
      {{ key.label }}
    </label>
  </div>
</div>
