<div class="dropdown">
  <input
    tabindex="0"
    type="text"
    id="searchInput"
    placeholder="Ville, adresse ou code postal"
    class="input input-bordered w-full"
    (input)="searchSuggestions(searchInputValue)"
    [(ngModel)]="searchInputValue"
  />
  <ul tabindex="0" class="dropdown-content z-[1] card menu p-2 shadow bg-base-100 rounded-box w-full">
    <li *ngFor="let result of searchResults" class="shadow bg-base-100 w-full p-2 rounded-box">
      <div class="flex flex-col gap-2 justify-left" (click)="searchInputValue.length >= 3 && selectSuggestions(result)">
        <div class="text-xl font-medium">{{ result.name }}</div>
        <p>{{ result.place_formatted }}</p>
      </div>
    </li>
  </ul>
</div>
<p class="text-red-500">
  {{ failure }}
</p>
