<div class="m-4">
  <div
    class="block max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h1 class="text-xl font-bold mb-4">{{ event.name }}</h1>
    <div *ngIf="description">
      <p class="text-withe-700">{{ description }}</p>
    </div>
    <button
      class="text-blue-500 hover:text-blue-700"
      (click)="showMore = !showMore"
      *ngIf="event.description && event.description.length > 100"
    >
      {{ showMore ? "Moins de détails" : "Plus de détails" }}
    </button>
    <img
      [src]="event.picture"
      alt="Picture of {{ event.name }}"
      class="w-full h-48 object-cover mt-4"
    />
    <div class="mt-4">
      <p class="text-withe-600">
        Le {{ date }}, {{ time }} à {{ event.location }}
      </p>
    </div>
    <div class="mt-4" *ngIf="event.genre">
      <p class="text-withe-600">Genre: {{ event.genre }}</p>
    </div>
    <div class="flex flex-row justify-between mt-4">
      <div *ngIf="event.priceRangeMin !== undefined">
        <p class="text-withe-600">A partir de {{ event.priceRangeMin }}€</p>
      </div>
      <div>
        <a
          [href]="event.extraLink || event.link"
          *ngIf="event.extraLink || event.link"
          class="text-blue-500 hover:text-blue-700"
          >En savoir plus</a
        >
      </div>
    </div>
  </div>
</div>
