<div class="m-4">
  <app-input-address-suggestion
    (sendAddress)="selectedDeparture($event)"
    (clearAddress)="clearDeparture()"
    placeholder="Ville, adresse de départ"
  ></app-input-address-suggestion>
  <app-input-address-suggestion
    (sendAddress)="selectedDestination($event)"
    (clearAddress)="clearDestination()"
    placeholder="Ville, adresse d'arrivé"
  ></app-input-address-suggestion>
</div>
<!--  TODO: delete this button -->
<button class="btn btn-primary" (click)="logAll()">Log</button>
<button class="btn btn-primary" (click)="searchDrink()">Get Trip</button>

<div *ngIf="trip">
  <app-map-trip
    [routes]="trip?.routes"
    [waypoints]="trip?.waypoints"
    [points]="points"
    (centerChange)="updateCenter($event)"
  ></app-map-trip>
</div>
<!-- <app-map-trip></app-map-trip> -->
