<div class="m-4">
  <app-input-address-suggestion
    (sendAddress)="selectedDeparture($event)"
    (clearAddress)="clearDeparture()"
    placeholder="Ville, adresse de départ"
  ></app-input-address-suggestion>
  <app-input-address-suggestion
    (sendAddress)="selectedDestination($event)"
    (clearAddress)="clearDestination()"
    placeholder="Ville, adresse d'arrivé"
  ></app-input-address-suggestion>
</div>

<div class="flex flex-row gap-2 justify-between">
  <app-activity-checkbox-selector
    radioName="radio-activity-trip"
    (sendType)="setActivityType($event)"
  ></app-activity-checkbox-selector>
  <date-range-picker (dateRange)="setRange($event)"> </date-range-picker>
</div>

<div class="flex flex-row gap-2 justify-between">
  <app-routing-checkbox-selector
    radioName="radio-routing-trip"
    (sendType)="setrouting_type($event)"
  ></app-routing-checkbox-selector>
  <app-search-activity-button
    [selectedType]="activityType"
    [selectedLocationLatLng]="center"
    [selectedDateRange]="range"
    (sendLocation)="setPoints($event)"
  ></app-search-activity-button>
</div>

<div class="flex flex-row justify-between w-full bg-light-bg dark:bg-dark-bg dark:border-dark-border dark:text-white">
  <div
    class="transition-all duration-300 overflow-y-scroll mt-4"
    style="height: 690px"
    [ngClass]="{ 'w-1/3': activities, 'w-0': !activities }"
  >
    <app-card-point-interrest
      *ngFor="let activity of activitiesNotInListInterestActivities"
      [event]="activity"
      [interraction]="true"
      class="flex-none"
      (sendEvent)="addInterestActivity($event)"
    ></app-card-point-interrest>
    <div *ngIf="activitiesNotInListInterestActivities?.length === 0" class="text-center">
      <p class="text-2xl">Aucune activité trouvée pour cette recherche. Veuillez modifier vos critères de recherche.</p>
    </div>
  </div>
  <app-map-trip
    *ngIf="trip"
    class="w-full"
    [routes]="trip?.routes"
    [waypoints]="trip?.waypoints"
    [points]="points"
    (centerChange)="updateCenter($event)"
  ></app-map-trip>
</div>

<div>
  <h3 class="text-2xl my-8 font-bold text-center">Liste des activités ajouter à votre itinéraire</h3>
  <div *ngIf="listInterestActivities.length === 0" class="text-center">
    <p class="text-2xl">Aucune activité à ajouter</p>
  </div>
  <div *ngIf="listInterestActivities.length > 0" class="grid grid-cols-3 gap-x-3">
    <app-card-point-interrest
      *ngFor="let point of listInterestActivities"
      [event]="point"
      [isInList]="true"
      [interraction]="true"
      (sendEvent)="removeInterestActivity($event)"
    ></app-card-point-interrest>
  </div>
</div>

<div class="flex justify-center mt-4" *ngIf="userConnected">
  <button class="btn btn-primary" [disabled]="!depart && !arrive" (click)="createTrip()">Créer l'itinéraire</button>
</div>
<div class="flex justify-center mt-4" *ngIf="!userConnected">
  <p class="text-2xl">Connectez-vous pour sauvegarder votre itinéraire !</p>
</div>
