<!-- <app-map [points]="points" [lat]="lat" [lng]="lng" *ngIf="points.length > 0"></app-map>
<div class="flex flex-wrap justify-center">
  <app-card-point-interrest *ngFor="let location of locations" [point]="location" class="flex-none"></app-card-point-interrest>
</div> -->

<div class="flex flex-wrap justify-center">
  <div class="w-1/2">
    <app-card-point-interrest
      *ngFor="let location of locations"
      [point]="location"
      class="flex-none"
    ></app-card-point-interrest>
  </div>
  <div class="w-1/2">
    <app-map [points]="points" [lat]="lat" [lng]="lng" *ngIf="points.length > 0"></app-map>
  </div>
</div>
